* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: gray;
  color: white;
}
form {
  border: 1px solid white;
  padding: auto;
  border-radius: 10px;
  text-align: center;
  width: auto;
  height: auto;
  font-family: "Courier New", Courier, monospace;
  /* margin: 30px; */
  background-color: aquamarine;
  color: black;
}
form label {
  display: block;
}
form input {
  display: block;
  outline: none;
  margin: 5px;
}

